* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  margin-top: 101px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  border-bottom: 2px solid #000000;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 233px;
  height: 63px;
  object-fit: contain;
}

.nav {
  display: flex;
  gap: 160px;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item a {
  text-decoration: none;
  color: #222;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
}

.nav-item a:link,
.nav-item a:visited,
.nav-item a:hover,
.nav-item a:active {
  color: #222;
  text-decoration: none;
}

.btn-iniciarSesion {
  background-color: rgb(0, 157, 255);
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-iniciarSesion:hover {
  background-color: #007bff;
  color: white;
}

.btn-registrarse {
  background-color: rgb(0, 157, 255);
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-registrarse:hover {
  background-color: #007bff;
}

/* Responsive */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .nav {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;
  }

  .btn-iniciarSesion,
  .btn-Registrarse {
    align-self: flex-start;
  }
}
